body {
    background-color: black;
    text-align: center;
}

#Title {
    color: white;
    font-size: 120px;
}

#CoverArt {
    width: 50%;
    height: 50%;
    border-radius: 10%;
}

#Rating {
    color: #f5c518; /* ripped from imdb */
    font-size: 48px;
}

#ActorList {
    color: white;
    font-size: 48px
}

a {
    font-size: 24px;
}

a:link {
    color: #f5c518; /* Kinda sorta the Sopranos logo red */
}

a:visited {
    color: #c2191b
}

ul {
    display: inline-block;
    text-align: left;
    color: white;
    font-size: 36px
}
